{{ 'section-aboutus.css' | asset_url | stylesheet_tag }}


<div>
  <div class="abt">
    <div class="abtbnr page-width">
      <div class="bnrlft">asd</div>
      <div class="bnrrgt">asd</div>
    </div>
  </div>
</div>