.abt{
  background: rgba(216, 231, 220, 0.2);

}
.abtbnr{
  display: flex;
  padding-top: 150px;
  padding-bottom: 180px;
  margin-bottom: -80px;
}

.bnrlft{
  width: 50%;
}

.bnrrgt{
  width: 50%;
  text-align: right;
}

.atgtst{
  padding-top: 150px !important;
}